.Section{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p{
        width: 58%;
        text-align: center;                
    }
}