.PP{
    height: 200px;
    width: 100%;
    background-color: aquamarine;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    .linha{
        background-color: white;
        width: 90%;
        height:2px;
        
    }
    .icones{
        width: 210px;
        height: 90px;
        background-color: #f45ff4;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .youtube{
            width: 50px;
            height: 50px;
        }
    }
    .icones img{
        width: 30px;
        height: 30px;
    }

}
    