
.Navbar {
  nav {
    position: fixed;
    width: 100%;
    height: 70px;
    background: linear-gradient(to right,#6d1345,#7e154f 20%, #df5442 );
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    #nome img{
      width: 215px;
      height: 50px;
      margin-top: 5px;
      margin-left: 19px;
      
    }
    #menu-hamburguer {
      margin-right: 60px;
      width: 40px;
      height: 40%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;

      span {
        width: 100%;
        height: 15px;
        background-color: white;
        border-radius: 20px;
        margin-left: 90px;
        margin-top: 5px;  
      }
    }
  }
  .menu {
    font-family: 'Stoke', serif;
    width: 59%;
    height: 329px;
    background-color:#7e154fc9;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transform: translateX(-700px);
    transition: 0.5s;
    position: absolute;
    top: 70px;
    left: 0;
    margin-left:130px;
    a {
      font-family: 'Stoke', serif;
      color: white;
      font-weight: 500;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
    }

  }
  .ativo {
    transform: translateX(0);
  }
}
