.Input {
    display: flex;
    flex-direction: column;
    label {
      margin-bottom: 10px;
    }
    input {
      border: none;
      width: 200px;
      height: 30px; 
      border: 2px solid #7e154f;
      border-radius: 10px;
      padding: 0 10px;
      color: black;
      outline: none;
      margin-bottom: 30px;
      &::placeholder {
        color: rgba(0, 0, 0, 0.801);
      }
    }
  }