
@media(max-width:425px){

/* body{

    margin:0;
    display: flex;
    background: linear-gradient(to right,#6d1345,#7e154f 20%, #df5442 );
    
} */

nav{
    grid-area: nav;
    width: 100%;
    height: 70px;
    background: linear-gradient(to right,#6d1345,#7e154f 20%, #df5442 );
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 3px solid #352c2c; 
}
#nome img {
    width: 170px;
    height: 50px; 
}


#menu-hamburguer {
    margin-right: 100px;
    width: 50px;
    height: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    
}
span{
    width: 100%;
    height: 15px;
    background-color: white;
    border-radius: 20px;
    margin-left: 5px;
    margin-top: 5px;
}
.menu {
    font-family: 'Stoke', serif;
    width: 100%;
    height: 400px;
    background-color:#7e154fc9;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transform: translateX(-600px);
    transition: 0.5s;
    position: absolute;
    top: 70px;
    left: 0;
    margin-left:130px;
    border-top: 3px solid #263025;
} 
a {
    font-family: 'Stoke', serif;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ativo {
    transform: translateX(0);
}
a:hover {
    text-decoration: underline;
    font-size: 25px;
}


header {
    grid-area: header;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400px;
    margin-bottom: 0;
}


section{
    grid-area: section;
    background-image: url('./imagem/danilo_1.png');
    background-size: cover;
    width: 100%;
    height: 400px;
    margin-top: 0px;
}

}