body{
    background-color: rgb(65, 16, 16);
    display: flex;
    justify-content: center;

}
.caixa{
    background-color: rgb(18, 18, 43);
    width: 300px;
    height: 170px;
    display: flex;
    justify-content: space-around;
    border:black solid 3px;
    border-radius: 10%;
    margin-top: 50px;
        
    
}

.texto{
    background-color: white;
    height: 25px;
    width: 180px;
    //margin-left: 5px;
    display: flex;
    justify-content: center;
    //margin: 3px;
    border-radius: 10%;
    margin-top: 10px; 
    
    
}

.texto p{
    color: red;
    margin: 0;

}

#botao{
    display: flex;
    // width:60px;
    // height: 19px;

}

 button{
    width: 100%;
    height: 100%;
    background-color: azure;
    padding-bottom: 150px;
    margin-top: 5px;
    border: 2px solid white;
    border-radius: 15%;
    align-items: center;
    flex-direction: column;
    color: black;
    font-size: 10pt;
    //word-wrap: break-word;
    text-overflow:clip;
    
}

.caixa2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
