.CadastroMaior {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:#6d1345; 
    background-color: #dedede;
    
    
    .Texto{
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-top: 63px;
    }
  form {
    margin-left: 15px; 
  .cadastro{
      font-size: 16px;
      border: none;
      width: 220px;
      height: 30px;
      border: 2px solid #cc6457f1;
      border-radius: 10px;
      padding: 0 20px;
      color: black;
      outline: none;
      margin-bottom: 20px;
      cursor: pointer;
    }
  }
}